SQLAlchemy
psycopg2-binary
fastapi
uvicorn
alembic
pydantic
pydantic_settings
requests
pytest
httpx
limits
pandas
jinja2
bcrypt
minio
pytz
slowapi
python-jose[cryptography] 
python-multipart 
python-dotenv
PyJWT
aiohttp
python-socketio
websockets
redis[hiredis]
exponent-server-sdk
apscheduler
mercantile
mapbox-vector-tile
GeoAlchemy2